body{
	font-family: 'Roboto', sans-serif;
}

.bigote_nav{
	background-color: #000;
}

.bigote_logo{
	max-width: 100px;
}

.bigote_nav_link{
	color: #fff !important;
}

.bigote_head{
	width: 100%;
	padding: 0;
}

.bigote_head_title{
	color: #fff;
	position: absolute;
	top: 35%;
	text-align: center;
}

.bigote_head_title h2{
	font-family: 'Playfair Display', serif;
	font-size: 4em;
	font-weight: 900;
	font-style: italic;
}

.bigote_head_icon{
	text-align: center;
	color: #fff;
	position: absolute;
	top: 90%;
}

.bigote_notice{
	padding-top: 30px;
}

.bigote_notice_inner{
	float: left
}

.bigote_notice_inner_icon{
	border-radius: 50px;
	padding: 10px;
	border:1px solid #ccc;
}

.bigote_notice_inner_date{
	font-size: 13px;
	margin-bottom: 0;

padding-top: 10px;
}

.bigote_notice_inner_content{
	padding-top: 40px
}

.bigote_notice_inner_share_icon{
	background-color: #808080;
	border-radius: 50px;
	padding: 10px;
	color: #fff;
	margin-right: 10px;
}

.bigote_notice_inner_share{
	padding: 20px 0;
}

.bigote_notice_inner_share_icon span{
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.bigote_separator{
	border:1px solid #ccc;
}

.bigote_separator_icon{
	color: #777;
	border-radius: 50px;
	border:1px solid #ccc;
	padding:15px;
	position: absolute;
	position: absolute;
	top: 97%;
	right: 50%;
	background: #fff;
}
